@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;700;900&family=Poppins:ital,wght@0,200;0,300;1,300;1,400&display=swap');
body{
    background-image: url("5.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
#heading{
    color: aliceblue;
    font-size: 70px;
    margin-top: 500px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: center;
}
#lang{
  width: 230px; 
  text-align: center; 
  background-color: black;
  color: aliceblue;
  position: fixed; top: 50px; left: 1750px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 78px;
  padding-right: 50px;
  font-size: 20px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  border-radius: 17px;
  
}
#button1{
    width: 130px;
    height: 60px;
    background-color: red;
    color: aliceblue;
    position: fixed; top: 53px; left: 2000px;
    padding-top: 18px;
    padding-bottom: 24px;
    padding-left: 33px;
    padding-right: 50px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    border-radius: 19px;
    text-align: center;
 
}
#button1:hover{
    background-color: rgb(215, 1, 1);
}
#button2{
    width: 400px;
    height: 75px;
    background-color: red;
    color: aliceblue;
    position: fixed; top: 800px; left: 1430px;
    padding-top: 8px;
    padding-bottom: 35px;
    padding-left: 43px;
    padding-right: 50px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;

}
#button2:hover{
    background-color:rgb(215, 1, 1) ;
}
#email{
    width: 800px;
    height: 70px;
    background-color: aliceblue;
    position: fixed; top: 800px; left:600px;
    font-size: 35px ;
    text-align: center;
    opacity: 60%;
    background-color: black;
    border-radius: 7px;
    color: white;

}
#join{
    font-size: 30px;
    color: aliceblue;
    font-weight: 300;
    text-align: center;
    
}
#ready{
    font-size: 30px;
    color: aliceblue;
    font-weight: 300;
    text-align: center;
    
}
#search{
  width: 110px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 25px;
  background-color: white;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: width 5s ease-out;
  position:fixed; top: 67px; left: 530px;
  opacity: 50%;
  background-color: black;

}
#search:focus{
    width: 450px;
}
/* #heading{
    color: aliceblue;
} */
/* #grad1{
    height:170px;
    background-image: linear-gradient(to bottom, black 100%, white 0% );
    margin-top: 0px;
}
#grad2{
    height:170px;
    background-image: linear-gradient(to top, black 100%, white 0% );
    margin-top: 800px;
} */
